# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IntelliJ
.idea/
*.iml

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Project specific
uploads/
routing_service/graph-cache/
logs/

# Large Model Files
*.pt
*.onnx
runs/

